.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.menu{
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
}

.menu a{
    text-decoration: none;
    color: black;
}

.logo a{
    color: #2b57cf;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
main{
    text-align: center;
    padding: 0px;
}
.poolimg{
    height: 60vh;
    width: 100%;

    background-image: url(images/1335316-0_2-VRBO_HERO_Pool_L-2X.jpg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

}
.poolimg h1{
    color: white;
    font-size: 48px;
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-between;
}
.box{
    width: 200px;
    height: 20px;
    font-size: 3em;
    border-radius: 15px;

}


#box1{
    background-color: white;
    
}
#box2{
    background-color: white;

}
#box3{
    background-color: white;

}
#box4{
    background-color: rgb(39, 51, 182);

}